# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local variable files
*.auto.tfvars

# Sensitive variables
terraform.tfvars.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
